* {
  margin: 0;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

body {
  font-family: "Montserrat", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
}

.arrow-down {
  width: 3rem;
  margin-bottom: 1rem;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5rem;
}

.content {
  min-height: 100vh;
}

.content-icon {
  width: 3rem;
  margin-top: 0.5rem;
  margin-right: 1rem;
}

.content-links {
  display: flex;
  align-items: center;
}
.content-links-container {
  margin-top: 2rem;
}

.desc-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
}

/* .header-content {
  justify-content: space-between;
} */

.header-icon {
  width: 2rem;
  margin: 0 1rem;
}

.header-icon-container {
  display: flex;
}

.header-logo {
  width: 3rem;
}

.header-logo-container {
  margin-right: auto;
}

.header-motto {
  font-family: "Oswald", sans-serif;
  font-size: 5rem;
  text-align: center;
  margin-top: -5rem;
}

.header-phrase {
  font-size: 1.25rem;
  margin: 1rem;
}

.icon-phone {
  margin-left: 0.5rem;
}

.icon-tokped {
  margin-left: -0.35rem;
}

.img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.img-mockup {
  height: 80vh;
}

.menu {
  width: 100%;
  margin-bottom: 1rem;
}

.menu-item-right {
  margin-right: 1rem;
}

.menu-list {
  display: flex;
  list-style: none;
  padding: 2rem;
}

.page-1 {
  max-height: 100vh;
  background-image: linear-gradient(#ecebe9, #e5e4e2);
  display: flex;
}

.title {
  font-family: "Oswald", sans-serif;
  font-size: 3rem;
}
